<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>calculator</servlet-name>
    <jsp-file>/WEB-INF/jsp/jewecalc.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>calculatePrice</servlet-name>
    <jsp-file>/WEB-INF/jsp/_calculatePrice.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>getQuote</servlet-name>
    <jsp-file>/WEB-INF/jsp/_getQuote.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>calculator</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>calculatePrice</servlet-name>
    <url-pattern>/calculatePrice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getQuote</servlet-name>
    <url-pattern>/getQuote</url-pattern>
  </servlet-mapping>

</web-app>